In [1]:
#1. WRITE A PYTHON FUNCTION TO CALCULATE THE MEAN, MEDIAN AND MODE OF A LIST OF NUMBERS

PYTHON CODING QUESTIONS

In [4]:
from statistics import mean, median, mode
numbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15 ]
def calculate_statistics(numbers):
    return{
    'mean': mean(numbers),
    'median': median(numbers),
    'mode': mode(numbers)
    }

print(calculate_statistics(numbers))

{'mean': 8, 'median': 8, 'mode': 1}

In [5]:
#2. WRITE A PYTHON FUNCTION TO COUNT THE FREQUENCY OF EACGH WORD IN A TEXT FILE
file_path = 'example.txt'

def word_frequency(file_path):
    with open(file_path, 'r') as file:
        words = file.read().split()
        freq = {}
        for word in words:
            word = word.lower().strip(",.!?")
            freq[word] = freq.get(word, 0) + 1
        return freq
    

print(word_frequency(file_path))

{'lorem': 1, 'ipsum': 1, 'dolor': 2, 'sit': 1, 'amet': 1, 'consectetur': 1, 'adipiscing': 1, 'elit': 1, 'sed': 1, 'do': 1, 'eiusmod': 1, 'tempor': 1, 'incididunt': 1, 'ut': 3, 'labore': 1, 'et': 1, 'dolore': 2, 'magna': 1, 'aliqua': 1, 'enim': 1, 'ad': 1, 'minim': 1, 'veniam': 1, 'quis': 1, 'nostrud': 1, 'exercitation': 1, 'ullamco': 1, 'laboris': 1, 'nisi': 1, 'aliquip': 1, 'ex': 1, 'ea': 1, 'commodo': 1, 'consequat': 1, 'duis': 1, 'aute': 1, 'irure': 1, 'in': 3, 'reprehenderit': 1, 'voluptate': 1, 'velit': 1, 'esse': 1, 'cillum': 1, 'eu': 1, 'fugiat': 1, 'nulla': 1, 'pariatur': 1, 'excepteur': 1, 'sint': 1, 'occaecat': 1, 'cupidatat': 1, 'non': 1, 'proident': 1, 'sunt': 1, 'culpa': 1, 'qui': 1, 'officia': 1, 'deserunt': 1, 'mollit': 1, 'anim': 1, 'id': 1, 'est': 1, 'laborum': 1}

SQL QUESTIONS

In [6]:
#3. WRITE A QUERY TO FIND THE SECOND-HIGHEST SALARY IN AN EMPLOYEE TABLE
query = '''
SELECT MAX(salary) as second_highest_salary
FROM employees
WHERE salary < (SELECT MAX(salary FROM employees);
'''

print(query)

SELECT MAX(salary) as second_highest_salary
FROM employees
WHERE salary < (SELECT MAX(salary FROM employees);

In [7]:
#4. WRITE A QUERY TO CALCULATE THE TOTAL REVENUE GENERATED BY EACH PRODUCT CATEGORY
query = '''
SELECT category, SUM(price * quantity_sold) AS total_revenue
FROM sales
GROUP BY category
ORDER BY total_revenue DESC;
'''
print(query)

SELECT category, SUM(price * quantity_sold) AS total_revenue
FROM sales
GROUP BY category
ORDER BY total_revenue DESC;

DATA ANALYSIS || MANIPULATION QUESTIONS

In [8]:
#5. FILTER ROWS IN A DATAFRAME WHERE AGE > 30 AND SALARY > 50,000
import pandas as pd

dataFrame = {
    'name': ['Alice', 'Chess', 'Queen', 'Jack'],
    'age': [20, 25, 30, 35],
    'salary': [40000, 50000, 60000, 70000]
}
df = pd.DataFrame(dataFrame)

filtered_df = df[(df['age'] > 30) & (df['salary'] > 50000)]
print(filtered_df)

   name  age  salary
3  Jack   35   70000

In [11]:
#6. CALCULATE THE CORRELATION BETWEEN TWO VARIABLES IN A DATASET
import pandas as pd

dataFrame1 = {
    'X': [1,2,3,4,5], 
    'Y': [2,4,6,8,10]
}

df = pd.DataFrame(dataFrame1)
correlation = df['X'].corr(df['Y'])
print(f"Correlation:  {correlation}")

Correlation:  0.9999999999999999

MACHINE LEARNING QUESTIONS

In [13]:
#7. TRAIN A LINEAR REGRESSION MODEL AND EVALUATE ITS PERFORMANCE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pandas as pd

data = {'X': [1,2,3,4,5], 'Y': [2,4,6,8,10]}
df = pd.DataFrame(data)

X = df[['X']]
y = df[['Y']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print(f"Mean squared error: {mean_squared_error(y_test, y_pred)}")

Mean squared error: 7.888609052210118e-31

In [15]:
#8. HANDLE MISSING VALUES IN A DATASET
import pandas as pd
import numpy as np

data1 = {'A': [1,2,np.nan],'B': [4, np.nan, 6], 'C': [7,8,9]}
df = pd.DataFrame(data1)

df.fillna(df.mean(), inplace=True)
print(df)

     A    B  C
0  1.0  4.0  7
1  2.0  5.0  8
2  1.5  6.0  9

PROBLEM-SOLVING QUESTIONS

In [16]:
#9. CHECK IF A LIST OF INTEGERS CONTAINS DUPLICATES
def has_duplicate(lst):
    return len(lst) != len(set(lst))

print(has_duplicate([1,2,3,4,5,6,7,8,9]))
print(has_duplicate([1,2,3,4,2,3,5,6,7]))

False
True

In [17]:
#10. REVERSE A LINKED LIST
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
def reverse_linked_list(head):
    prev = None
    current = head
    while current:
        next_node = current.next
        current.next = prev
        prev = current
        current = next_node
    return prev